@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

body .dark {
    background-color: black;
    color: #fff;
}

.headline {
  left: 130px;
} 
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-img {
    min-height: 350px; 
    background-image: url(https://plus.unsplash.com/premium_photo-1663050633633-2856e875dcc7?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
    background-position: center; 
    background-size: cover;
}
@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  } 
  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}